

/* .about {

} */

/* html, body {
  height: 100%;
} */

.parallax { 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position-y: 58px;

}

.parallax-caption {
  position: absolute;
  /* left: 0; */
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h2 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}



.bg1 {
 /* The image used */
 background-image: url("../assets/images/background_ironman_vs_cap.jpg");

 /* Set a specific height */
 min-height: 600px;
 opacity: .8;
}

.about-me {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  display: inline-block;
}

.about me h1 {
  margin-bottom: 15px;
}

.portrait {
  /* width: 100%;
  height: 100%; */
  min-width: 144px;
  min-height: 200px;
  max-width: 180px;
  max-height: 230px;
  /* position: relative;
  top: 5% */
  /* float: left; */
}

.portrait-container {
  min-width: 160px;
  text-align: center;
  padding: 10px 0px;
}

.about-me-col {
  margin: 0 auto;
}

.bg2 {
 /* The image used */
 background-image: url("../assets/images/parallax_dc_jl_lineup.jpg");

 /* Set a specific height */
 height: 300px;
 opacity: .8;
}

.work { 
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: justify;
}

.work h2 {
  color: #ddd;
}

.work-container {
  margin: 0 auto;
  max-width: 700px;
}

.job {
  margin: 10px 0px;
}

.company {
  text-decoration-line: underline;
  font-weight: bold;
  margin: 50px 0px;
}

.job-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.bg3 {
  /* The image used */
  background-image: url("../assets/images/parallax_avengers_lineup.jpg");
 
  /* Set a specific height */
  height: 400px;
  opacity: .8;
 }

 .schooling { 
  color: #ddd;
  background-color: #282E34;
  padding: 30px 80px;
  text-align: justify;
}

.schooling h2 {
  color: #ddd;
}

.schools-container {
  margin: 0 auto;
  max-width: 800px;
}

.school {
  margin: 10px 0px;
}

.degree {
  text-decoration-line: underline;
  font-weight: bold;
  margin: 50px 0px;
}

.school-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.bg4 {
  /* The image used */
  background-image: url("../assets/images/parallax_re2_rain.jpg"); 
  /* Set a specific height */
  height: 350px;
  opacity: .8;
 }

 .personal { 
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: justify;
}

.personal h2 {
  color: #ddd;
}

.bg5 {
  /* The image used */
  background-image: url("../assets/images/parallax_game_table_blurred.jpg"); 
 /* Need to update background to boardgame table and shelf picture. */
  /* Set a specific height */
  height: 600px;
  opacity: .8;
 }