
.hero-contact-container {
  background: url("../assets/images/background_rainbow_space.jpg") no-repeat center;
  background-size: cover;
	height: 120vh;
	overflow: hidden;
	/* width: 100vw; */
	/* position: relative; */
  /* Useful for any “absolute” positioned elements inside */
}

.contact {
  padding-top: 40px;
  max-width: 700px;
}

.header {
  max-width: 400px;
  margin: auto;
  /* margin-top: 40px; */
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: grey;
}

.contact-header {
  width: 100%;
  text-align: center;
  margin: 0px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-group {
  margin: 0px;
}

.col-md-6,
.col-md-12 {
  padding: 5px;
}

.message-form {
  margin-bottom: 0px;
}

.required-text {
  margin: 0px;
  padding: 0px;
}

.send-button {
  text-align: center;
  margin-top: 5px;
}

.btn {
  width: 200px;
  opacity: .8;
}

.submit-response {
	height: 50px;
	padding: 5px;
}

.required {
  color: white;
}

.success {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 380px;
	margin: 0 auto;
}

.contact-info-row {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}

.contact-info-col {
	padding: 0;
	text-align: center;
}

.contact-icon {
	color: dodgerblue;
	display: inline-block;
	margin-right: 10px;
}

.contact-info {
	color: white;
	display: inline-block;
	margin: 0;
}