
.hero-project-container {
	background: url("../assets/images/background_milky_way.jpg") no-repeat center;
	background-size: cover;
	/* height: 120vh; */
	overflow: hidden;
	/* width: 100vw; */
	/* position: relative; */
	/* Useful for any “absolute” positioned elements inside */
}

header {
	text-align: center;
}

