
.hero-project-container {
	background: url("../assets/images/background_milky_way.jpg") no-repeat center;
	background-size: cover;
	/* height: 120vh; */
	overflow: hidden;
	/* width: 100vw; */
	/* position: relative; */
	/* Useful for any “absolute” positioned elements inside */
}

/* header {
	text-align: center;
	color: white;
} */

.project-heading {
	max-width: 400px;
	margin: 0 auto;
	background-color: #111;
	color: #fff;
	border: 1px solid #dee2e6!important;
	text-align: center;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	opacity: .8;
  }